apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: mongo-init-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: mongo-init
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/devops-mongo-server-init"