apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-init-file
  namespace: {{ NAMESPACE }}
  labels:
    app: mongo-init
data:
  update.sh: |
    #! /bin/bash
    until mongosh $MONGODB_URI --eval "print(\"waited for connection\")"
      do
        sleep 1
      done
    mongosh $MONGODB_URI --eval 'cfg = rs.conf();cfg.members[0].host=\"mongodb-0.mongo-svc:27017\";rs.reconfig(cfg);")'
    mongosh $MONGODB_URI --eval 'rs.add("mongodb-1.mongo-svc:27017")'
    mongosh $MONGODB_URI --eval 'rs.add("mongodb-2.mongo-svc:27017")'
    sleep 30
    if [[ $(mongosh --quiet --eval "db.isMaster().setName") != rs0 ]]
    then
        echo "replicaset config failed :("
    else
        echo "gg, hacky mongo replicaset"
    fi