apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: doido-mongo-auth-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: doido-mongo
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/doido-mongo"
